build
build-*
emsdk
lib

cmake-build*
*-config.cmake
CMakeFiles
CMakeFiles/*
Makefile
CMakeCache.txt
*.cmake
*.nocmake
!cmake/*
__pycache__
*.o
*.so
*.a
*.lib
*.exe
*.out

# Editors
.idea
.vscode

# Misc
src/inputsave.cpp
src/inputsave.h
src/tmlsave.g
src/doctest.h
src/tml.g.cpp.bak*

# Sonarqube
.scannerwork
bw-output
