# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
.idea
build-*
tml-config.cmake

.vscode
src/inputsave.cpp
src/inputsave.h
src/tmlsave.g
CMakeFiles
CMakeFiles/*
Makefile
CMakeCache.txt
*.cmake
*.nocmake
!cmake/*

